.itemform {
    display: flex;
    flex-direction: column;
}

.itemform__row {
    display: flex;
}

.itemform__row > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5em 0.3em;
    flex: 1 1 auto;
}

.itemform input, .itemform select {
    padding: 0.3em;
    border: 1px solid #009ccc;;
    border-radius: 0.3em;
    font-size: 1.2em;
    color: #009ccc;
    background-color: #e6f9ff;
    box-sizing: border-box;
    box-shadow: 1px 2px 3px 1px #009ccc;
    outline: none;
    width: 100%;
}

.itemform input[type="date"]::webkit-clear-button {
    display: none;
}

.itemform input[type="date"]::webkit-innerspin-button {
    display: none;
}

.itemform label {
    justify-content: center;
    padding: 0.5em;
    max-height: 1.2em;
    min-height: 1.2em;
    color: #009ccc;
    text-shadow: 2px 1.5px#4dd5ff;
    align-items: center;
    font-size: 1.3em;
}