.fishcard {                       
    background-color: #e6f9ff;
    border: 3px solid #0099cc;
    box-shadow: 1px 2px 3px 1px #009ccc;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
}
  
.fishcard__line {
    display: flex;
    justify-content: space-between;
}
  
.fishcard__date, .fishcard__fish { 
    font-size: 0.9em;
    color: #009ccc;
    padding-right: 2em;
}

.fishcard__place, .fishcard__weight {
    font-size: 0.8em;
    color: #009ccc;
    padding-right: 2em;
}

.fishcard > div {
    flex: 1 1 auto;
}

.fishcard__link {
    max-width: 2em;
    display: none;
    justify-content: center;
    align-items: center;
    color: #009ccc;
    padding: 0.5em 0.3em 0.3em 0.3em;
    border: 1px solid #009ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #009ccc;
}

.fishcard:hover .fishcard__link {
    display: flex;
}

.fishcard__link a {
    color: #009ccc;
}