@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
  margin: 0;
  padding: 0;
}


.App {
  max-width: 30em;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #b3ecff;
  transform: translateZ(0);
}

.App > * {
  flex: 1 1 auto;
}

.App__welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #009ccc;
  text-shadow: 2px 1.5px#4dd5ff;
  font-size: 140%;
  padding-top: 4em;
}
