.settings {
    color: #009ccc;
    text-shadow: 2px 1.5px#4dd5ff;
}

.settings h3 {
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-size: 140%;
}

.settings__items {
    padding: 0.5em;
    font-size: 110%;
}

.settingsForm input {
    margin-top: 0.6em;
    flex: 1 1 auto;
    padding: 0.3em;
    border: 1px solid #009ccc;;
    border-radius: 0.3em;
    font-size: 1.2em;
    color: #009ccc;
    background-color: #e6f9ff;
    box-sizing: border-box;
    box-shadow: 1px 2px 3px 1px #009ccc;
    outline: none;
}

.settings__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5em;
    font-size: 70%;
}

.settings__userdata img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 0.5em;
    margin-right: 1em;
}

.settings__userdata {
    font-size: 150%;
    display: flex;
    align-items: center;
    padding: 1em;
}

